#section-1{
  padding-top:200px;
}

.gray-background{
  background-color:@section-color;
}

  .cover-image{
    width:100%;
    .background-image('../img/freedom.jpg');
    background-repeat: no-repeat;
  }

.main-heading{
  font-family: "Fruitger Light";
  font-size: 60px;
  color:@blue4;
  margin-bottom:60px;
  line-height:60px;
}

.site-text{
  font-family: 'Fruitger light';
  font-size: 22px;
  line-height: 30px;
  color:@gray-black;
}

.circle-text{
    font-family: 'Fruitger light';
    color:white;
    font-size: 18px;
    line-height: 24px;
    background-color:@blue4;
    position:absolute;
    left:300px;
    border-radius: 50%;
    border:1px solid white;
    width:200px;
    height:200px;
    padding-left: 64px;
    padding-top: 65px;
  }


.section-clinic{
  .background-image('../img/clinic.jpg');
  padding-top:420px;
  padding-bottom:190px;
}

.blur-holder{

  background-color: rgba(255,255,255,0.7);
  width:100%;
}

.icon{
  float:left;
  margin-right:10px;
  cursor: pointer;
}

.icon-text{

  font-size: 20px;
  line-height:20px;
  padding-top:15px;
  color:@blue1;
  cursor: pointer;
}


.doctor-1-pic{
  border-radius: 50%;
  width:91%;
}

.doctor-2-pic{
  border-radius: 50%;
  width:80%;
}

.doctor-3-pic{
  border-radius: 50%;
  width:84%;
}

.name-text{
  font-size: 36px;
  color:@blue1;
  margin-bottom: 30px;
}

.function-text{

  font-family: 'Fruitger Bold';
  font-size: 24px;
  line-height: 46px;
  margin-left:16%;
  color:@gray-black
}

.doctor-description{
  font-size: 16px;
  line-height: 20px;
  margin-left:16%;
  color:@gray-black;
  width:60%;
}

.doctor-description-extend{
  font-size: 16px;
  line-height: 20px;
  margin-left:16%;
  color:@gray-black;
}

.therapy-section{

  .background-image('../img/therapy.jpg');
  padding-top:140px;
  padding-bottom:290px;

}

.text-title{
  font-family: 'Fruitger Bold';
  font-size: 24px;
  line-height: 30px;
  color:@blue1;
  margin-top:20px;
}

.text-information{
  margin-top:20px;
  font-size: 16px;
  line-height: 24px;
  margin-left:10%;
  color:@gray-black;
  margin-bottom:45px;
}

.where-we-at{

  padding-top:140px;
  padding-bottom:140px;
  .background-image('../img/station.jpg');
}

#maps-holder{
 width:100%;
}

/*********************/

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

    .circle-text{
    font-family: 'Fruitger light';
    color:white;
    font-size: 20px;
    line-height: 32px;
    background-color:@blue4;
    position:absolute;
    left:300px;
    border-radius: 50%;
    border:1px solid white;
    width:250px;
    height:250px;
    padding-left: 65px;
    padding-top: 95px;
  }

  .left-hand{
    margin-top:30px;
   }

  .right-hand{
    margin-top:30px;
  }

}
#main-menu{

  z-index:1;
}

  #main-menu.affix-top {
    position: static;

  }

  #main-menu.affix {
    position: fixed;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color:white;
  }

.affix,.affix-top {
   position:static;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

  .circle-text{
    font-family: 'Fruitger light';
    color:white;
    font-size: 28px;
    line-height: 40px;
    background-color:@blue4;
    position:absolute;
    left:300px;
    border-radius: 50%;
    border:1px solid white;
    width:300px;
    height:300px;
    padding-left: 65px;
    padding-top: 95px;
  }

  .left-hand{
    margin-top:-230px;
  }
    .right-hand{
    margin-top:-440px;
  }


  .pull-up-doctor-3{

    margin-top:-60px;
  }
}

@media (min-width: @screen-lg-min) {


  .circle-text{
    font-family: 'Fruitger light';
    color:white;
    font-size: 36px;
    line-height: 48px;
    background-color:@blue4;
    position:absolute;
    left:300px;
    border-radius: 50%;
    border:1px solid white;
    width:350px;
    height:350px;
    padding-left: 65px;
    padding-top: 95px;
  }

  .left-hand{
    margin-top:-230px;
   }

  .right-hand{
    margin-top:-440px;
  }

  .super-extention{

    margin-right:-70px;
  }

  .pull-up-doctor-3{

    margin-top:-40px;
  }

}
