#section-1{
  padding-top:200px;
}

.gray-background{
  background-color:@section-color;
}


.heading-2{

  font-size: 30px;
  line-height: 30px;
  margin-bottom: 60px;
  color:@blue4;
}


  .cover-image{
    width:100%;
    .background-image('../img/freedom.jpg');
    background-repeat: no-repeat;
    height:400px;
    background-position:75% 0px;
    background-size: cover;
  }

.main-heading{
  font-family: "Frutiger Light";
  font-size: 36px;
  color:@blue4;
  margin-bottom:60px;
  line-height:36px;
}

.site-text{
  font-family: 'Frutiger Light';
  font-size: 16px;
  line-height: 20px;
  color:@gray-black;
}



.section-clinic{
  .background-image('../img/clinic2.jpg');
  padding-bottom:10%;
  padding-top:22%;
    background-size: cover;
}

.form-field{
  padding:0 0 20px 0 ;
  width:100%;

  input, textarea {
    width:100%;
    height:40px;
    font-family: 'Frutiger Bold';
    font-size: 16px;
    color:@gray-black;
  }
  textarea{
    height:100px;
     font-family: 'Frutiger Regular';
    font-size: 16px;
    color:@gray-black;
  }
}

.blur-holder{

  background-color: rgba(255,255,255,0.8);
  width:100%;
}

.icon{
  float:left;
  margin-right:10px;
  cursor: pointer;
  position:relative;
  z-index:5;
}

.icon-text{

  font-size: 20px;
  line-height:20px;
  padding-top:15px;
  color:@blue1;
  cursor: pointer;
  position:relative;
  z-index:5;
}


.doctor-1-pic{
  border-radius: 50%;
    max-width: 100%;
  height: auto;
  width: auto;
  border: 2px white solid;
}

.doctor-2-pic{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: auto;
    border: 2px white solid;

}

.doctor-3-pic{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: auto;
    border: 2px white solid;
}

.name-text{
  font-size: 30px;
  color:@blue1;
  margin-bottom: 30px;
}

.function-text{

  font-family: 'Frutiger Bold';
  font-size: 18px;
  line-height: 28px;
  color:@gray-black
}

.doctor-description{
  font-size: 16px;
  line-height: 20px;
  color:@gray-black;
  max-width:100%;
}

.doctor-description-extend{
  font-size: 16px;
  line-height: 20px;
  margin-left:16%;
  color:@gray-black;
  max-width:100%;
}

.therapy-section{

  .background-image('../img/therapy2.jpg');
  padding-top:140px;
  padding-bottom:290px;
    background-size: cover;
}

.text-title{
  font-family: 'Frutiger Bold';
  font-size: 17px;
  line-height: 24px;
  color:@blue1;
  margin-top:20px;
}

.text-information{
  margin-top:20px;
  font-size: 16px;
  line-height: 24px;
  margin-left:10%;
  color:@gray-black;
  margin-bottom:45px;
}

.where-we-at{

  padding-top:140px;
  padding-bottom:140px;
  .background-image('../img/station.jpg');
    background-size: cover;
}

#maps-holder{
 width:100%;
}

.contact-holder{

  background-color:@blue4;
  padding:30px;

}

.form-actions{
  text-align:center;
 }

/*********************/



.responsive-wrapper{
  padding:0 15px;

}

.text-section{

  display:none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {



.text-section{

  display:block;
}

  .where-we-at{

  padding-top:140px;
  padding-bottom:140px;
  .background-image('../img/station.jpg');
    background-attachment:fixed;
    background-size: cover;
}

  .therapy-section{

  .background-image('../img/therapy2.jpg');
  padding-top:140px;
  padding-bottom:290px;
    background-attachment:fixed;
    background-size: cover;
}

  .section-clinic{
  .background-image('../img/clinic2.jpg');
  padding-bottom:10%;
  padding-top:22%;
  background-attachment:fixed;
    background-size: cover;
}

  .cover-image{
    width:100%;
    .background-image('../img/freedom.jpg');
    background-repeat: no-repeat;
    height:800px;
    background-attachment:fixed;
    background-position:100% 0px;
    background-size: cover;
  }

.doctor-description{
  font-size: 16px;
  line-height: 20px;
  color:@gray-black;
  max-width:100%;
  width:300px;
}

  .doctor-description-extend{
  font-size: 16px;
  line-height: 20px;
  margin-left:16%;
  color:@gray-black;
  max-width:100%;
  width:300px;
}

  .function-text{

    font-family: 'Frutiger Bold';
    font-size: 18px;
    line-height: 28px;
    color:@gray-black
  }


  .left-hand{
    margin-top:30px;
   }

  .width-100{

    width:100%;
  }

 .main-heading{
  font-size: 60px;
  line-height:60px;
}

 .site-text{
  font-family: 'Frutiger Light';
  font-size: 22px;
  line-height: 30px;
  color:@gray-black;
}


.heading-2{

  font-size: 36px;
  line-height: 36px;
  margin-bottom: 60px;
  color:@blue4;
}

.name-text{
  font-size: 36px;
  color:@blue1;
  margin-bottom: 30px;
}

.text-title{
  font-family: 'Frutiger Bold';
  font-size: 24px;
  line-height: 30px;
  color:@blue1;
  margin-top:20px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

  .left-hand{
    margin-top:-230px;
  }

}

@media (min-width: @screen-lg-min) {

  .left-hand{
    margin-top:-230px;
   }

 .responsive-wrapper{
  padding:0 0px;

}

}





/*******CIRCLES*******/
.circle{
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: rgba(0,55,151,0.9);
      position:absolute;
      border: 2px solid white;
}

.circle-text{
    color: white;
}

.circle-1{
      width: 100px;
      height: 100px;
      left:45%;
      top:15%;
}

.circle-1-text{
  font-family: 'Frutiger Bold';
  font-size: 14px;
  line-height: 18px;
  padding-top: 30px;
  margin-left: 15px;
}

.circle-2{

  width:450px;
  height:450px;
  left:15%;
  bottom:-10%;

}

.circle-2-text{

  font-family: 'Frutiger Light';
  font-size: 36px;
  line-height: 48px;
  padding-top: 150px;
  margin-left: 100px;

}

@media (min-width: @screen-sm-min) {

.circle-1{
      width: 150px;
      height: 150px;
}

.circle-1-text{
  font-size: 18px;
  line-height: 24px;
  padding-top: 60px;
  margin-left: 30px;
}


.circle-2{

  width:250px;
  height:250px;
  left:15%;
  bottom:-5%;

}

.circle-2-text{

  font-family: 'Frutiger Light';
  font-size: 24px;
  line-height: 30px;
  padding-top: 80px;
  margin-left: 50px;

}


}

@media (min-width: @screen-md-min) {

  .circle-1{
      width: 200px;
      height: 200px;
}

.circle-1-text{
    font-size: 24px;
    line-height: 30px;
    padding-top: 80px;
    margin-left: 60px;
}

.circle-2{

  width:300px;
  height:300px;
  left:15%;
  bottom:-5%;

}

.circle-2-text{

  font-family: 'Frutiger Light';
  font-size: 30px;
  line-height: 40px;
  padding-top: 100px;
  margin-left: 60px;

}

}

@media (min-width: @screen-lg-min) {

  .circle-1{
      width: 300px;
      height: 300px;

  }

  .circle-1-text{
      font-size: 36px;
      line-height: 48px;
      padding-top: 100px;
      margin-left: 80px;
  }


  .circle-2{

  width:450px;
  height:450px;
  left:15%;
  bottom:-10%;

}

.circle-2-text{

  font-family: 'Frutiger Light';
  font-size: 36px;
  line-height: 48px;
  padding-top: 150px;
  margin-left: 100px;

}
}

