@font-face {
    font-family: 'Frutiger Regular';
    src: url('FrutigerNextPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Light';
    src: url('FrutigerNextPro-Light.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Frutiger Bold';
    src: url('FrutigerNextPro-Bold.otf');
    font-weight: normal;
    font-style: normal;

}

