<%inherit file="layout.html"/>

<%def name="content()">
<div class="gray-background">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 impressum-text">
                    <div>${_(u'Company.Address')}</div>
                    <div><span class="impressum-bold" >T</span>&nbsp; &nbsp;<span>${_(u'Company.Phone')}</span></div>
                    <div><span class="impressum-bold">F</span>&nbsp; &nbsp;<span>${_(u'Company.Fax')}</span></div>
                    <div><span class="impressum-bold" >E</span>&nbsp; &nbsp;<a href="mailto:${_(u'Company.Email')}">${_(u'Company.Email')}</a></div>
                    <div class="impressum-bold"><a href="http://${_(u'Company.Website')}">${_(u'Company.Website')}</a></div>

                    <div class="impressum-bold margin-top-26">${_(u'Company.Name')}</div>
                    <div >${_(u'Company.Headquarter')}</div>
                    <div >${_(u'Company.Court')}</div>
                    <div >${_(u'Company.Number')}</div>
                    <div class="impressum-bold margin-top-26">${_(u'Company.Description')}</div>
                    <div >${_(u'Company.Owner')}</div>
                    <div >${_(u'Company.OwnerDescription')}</div>
                    <div class="impressum-bold margin-top-26">${_(u'Company.Banking')}</div>
                    <div >${_(u'Company.BLZKonto')}</div>
                    <div >${_(u'Company.BICIBAN')}</div>
          </div>
    </div>
</div>
</%def>