<%inherit file="layout.html"/>
<%namespace file="klinik:common/lib/formlib/templates/baseform.html" name="forms"/>

<%def name="content()">
<div class="gray-background">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 impressum-text">
                    <div>Friesenstra&szlig;e 72&ndash;74, 50670 K&ouml;ln</div>
                    <div><span class="impressum-bold" >T</span>&nbsp; &nbsp;<span>+49 176 637361 89</span></div>
                    <div><span class="impressum-bold">F</span>&nbsp; &nbsp;<span>+49 176 637361 89</span></div>
                    <div><span class="impressum-bold" >E</span>&nbsp; &nbsp;<a href="mailto:info@tagesklinik-friesenplatz.de">info@tagesklinik-friesenplatz.de</a></div>
                    <div class="impressum-bold"><a href="http://www.tagesklinik-friesenplatz.com">www.tagesklinik-friesenplatz.com</a></div>

                    <div class="impressum-bold margin-top-26">Tagesklinik am Friesenplatz GmbH</div>
                    <div >Amtsgericht K&ouml;ln HRB 12345 </div>
                    <div >Ust. &ndash; IdNr. DE 81 11 18 483</div>
                    <div class="impressum-bold margin-top-26">Leitender Arzt und Gesch&auml;ftsf&uuml;hrer</div>
                    <div >Dr. med. Christian Vo&szlig;</div>
                    <div >Facharzt f&uuml;r Psychiatrie und Psychotherapie</div>
                    <div class="impressum-bold margin-top-26">Deutsche Apotheker und &Auml;rztebank eG</div>
                    <div >BLZ 300 606 01, Konto 0003807967</div>
                    <div >BIC DAAEDEDDXXX, IBAN DE39 3006 0601 0003 8079 67</div>
          </div>
    </div>
</div>
</%def>