<%inherit file="layout.html"/>
<%namespace file="hnc:forms/templates/baseform.html" name="forms"/>

<%def name="content()">
        <div class="cover-image position-relative">
            <img alt="Depression heilen." src="/static/img/circle_1.svg" class="circle-1 circle" data-stellar-ratio="2" >
         </div>

        <div id="depression" class="gray-background position-relative">
            <img src="/static/img/circle_3.svg" alt="Vier Millionen Menschen in Deutschland leiden an der Depression." class="circle-3 circle" data-stellar-ratio="2"/>
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="responsive-wrapper">
                            <h2 class="main-heading">
                                 ${_(u"Depression.Title")}
                            </h2>
                            <div class="site-text">
                                ${_(u"Depression.Text")| html.html, n }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-100">
                            <img alt="Depressive Person" src="/static/img/depression.jpg" class="full-size"/>
                        </div>
                    </div>
                </div>
            </div>
        <div id="klinik" class="section-clinic position-relative">
            <img src="/static/img/circle_4.svg" alt="Schwerpunkte: Depression, Angst und Zwang" data-stellar-ratio="2"  class="circle circle-4"/>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blur-holder padding-top-75">
                                <div class="row">
                                         <div class="col-md-offset-2 col-md-8">
                                             <div class="responsive-wrapper">
                                                <h2 class="main-heading">
                                                    ${_(u"Klinik.Title")}
                                                </h2>
                                             <div class="site-text">
                                                    ${_(u"Klinik.Text")| html.html, n }
                                             </div>
                                             <div class="margin-top-40" id = "open-gallery">
                                                    <img src="/static/img/gallery.svg" class = "icon"/>
                                                    <div class="icon-text">${_(u"Gallery.Open")}</div>
                                                    <div class ="margin-bottom-90" style="clear:both"></div>
                                             </div>
                                            </div>
                                           </div>
                                     </div>
                               </div>
                          </div>
                      </div>
                </div>
        </div>
           %if view.display(request, "ABOUT"):
        <div id="my-team" class="gray-background ">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-9">
                        <div class="responsive-wrapper">
                            <div class="main-heading">
                                ${_(u"About.Title")}
                            </div>
                         </div>
                     </div>
                 </div>

                <div id="main-man">
                    <div class="row">
                         <div class="col-md-offset-3 col-md-7">
                             <div class="responsive-wrapper">
                                  <div class="name-text">
                                      ${_(u"About.Name")}
                                  </div>
                                  <div class="function-text">
                                        ${_(u"About.Description.Bold")}
                                        <div class="function-text-regular">${_(u"About.Description.Regular")}</div>
                                  </div>
                                 <div class="doctor-description ">
                                     ${_(u"About.Text") | html.html, n}
                                 </div>
                                  <div class="margin-top-40">
                                      <div id="trigger-video">
                                        <img src="/static/img/play_video.svg" class = "icon"/>
                                        <div class="icon-text ">${_(u"Video.Open")}</div>
                                       </div>
                                        <div style="clear:both"></div>
                                   </div>
                                 </div>
                        </div>
                    </div>
                 </div>

        <div class="padding-top-75"></div>
        </div>
         </div>
        %endif
        <div id="therapien" class="therapy-section">
            <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                             <div class="blur-holder padding-top-75">
                                 <div class="responsive-wrapper">
                                    <div class="row">
                                             <div class="col-md-offset-2 col-md-8 margin-bottom-100">
                                                    <h2 class="main-heading">
                                                        ${_(u"Therapy.Title")}
                                                    </h2>
                                                 <div class="site-text">
                                                      ${_(u"Therapy.Text")| html.html, n}
                                                 </div>
                                              </div>
                                         </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                </div>
        </div>

     <div class="gray-background text-section position-relative">
     <img src="/static/img/circle_1.svg" data-stellar-ratio="2" alt="Depression heilen." class="circle circle-5"/>

         <div class="padding-top-75"></div>
        <div class="container">
            <div class="row">
                 <div class="col-md-5 padding-bottom-160-text">
                     <div class="responsive-wrapper">
                         %for i in range (0, len(texts)/2):
                                <div class="blue-line"></div>
                                 <h3 class="text-title">
                                   ${texts[i].title}
                                 </h3>
                                 <div class="text-information">
                                   ${texts[i].body | html.html, n}
                                 </div>
                         %endfor
                      </div>
                </div>
                <div class="col-md-offset-2 col-md-5 padding-bottom-160">
                                     <!-- -------------------------------------------------------------- -->
                  <div class="responsive-wrapper">
                   %for i in range (len(texts)/2, len(texts)):
                                <div class="blue-line"></div>
                                 <h3 class="text-title">
                                   ${texts[i].title}
                                 </h3>
                                 <div class="text-information">
                                   ${texts[i].body | html.html, n}
                                 </div>
                    %endfor
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="small-line-divider"></div>
     <div id="anfahrt" class="where-we-at position-relative">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class=blur-holder>
                         <div class="row">
                             <div class="col-md-offset-2 col-md-8 padding-top-75">
                                 <div class="responsive-wrapper">
                                    <h2 class="main-heading">
                                         ${_(u"Location.Title")}
                                    </h2>
                                 <div class="site-text">
                                       ${_(u"Location.Text") | html.html, n}
                                 </div>
                                 <div class="margin-top-40">
                                        <a href ="https://maps.google.de/maps?saddr=current+location&daddr=Friesenstra%C3%9Fe%2072%E2%80%9374,%20Koeln,%20Germany" target="_blank"><img src="/static/img/directions.svg" class = "icon"/>
                                        <div class="icon-text">${_(u"Route.Open")}</div> </a>
                                        <div class="margin-top-40"></div>
                                 </div>
                             </div>
                              </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-12">
                    <div id = "maps-holder">
                    </div>
                 </div>
             </div>
         </div>
     </div>

      <div class="gray-background">

          <div class="container">
              <div class="row">
               <div class="col-md-8 col-md-offset-2">
                   <h2 class=" main-heading">
                       Kontakt
                   </h2>
                    <div class="contact-holder margin-top-40">
                      <form class="${view.form.classes}" method="post" id="${view.form.id}">
                            ${forms.prelims(view.form)}
                          <div class="form-field">
                           <input type="text" id = "contactForm.name" name ="contactForm.name" required placeholder="${_(u'Form.Name')}"/>
                           </div>
                          <div class="form-field">
                           <input type="email" id = "contactForm.email" name ="contactForm.email" required placeholder="${_(u'Form.Email')}"/>
                          </div>
                           <div class="form-field">
                            <textarea type="text" id = "contactForm.message" name ="contactForm.message" required placeholder="${_(u'Form.Content')}"></textarea>
                           </div>
                        <div class="form-actions">
                            <button type="submit" class="btn">${_(u'Form.Send')}</button>
                        </div>
                    </form>
                    </div>
               </div>
              </div>
           </div>
      </div>

 <div class="modal fade" id="videoModal" role="dialog" aria-labelledby="About us" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <iframe id = "doctor-video" width="100%" height="300px" src="" frameborder="0" allowfullscreen></iframe>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="galleryModal" role="dialog" aria-labelledby="About us" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            <div id="carousel-gallery" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                   <div class="item active">
                      <img src="${images[0].url}">
                    </div>
                  %for i in range(1,len(images)):
                     <div class="item ">
                      <img src="${images[i].url}">
                    </div>
                  %endfor
               </div>
                <a class="left carousel-control" href="#carousel-gallery" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-gallery" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
             </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

</%def>




<%def name="post_scripts()">
<script>

if(window.innerWidth > 992) $(window).stellar();

var $root = $('html, body');
$('a').click(function() {
    if($('#galleryModal').is(":visible")) return true;
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1000);
    return false;
});

$('#main-menu').affix({
      offset: {
        top: $('#main-menu').height()/2
      }
});

function initialize() {

var stylez = [
    {
      featureType: "all",
      elementType: "all",
      stylers: [
        { saturation: -100 } // <-- THIS
      ]
    }
];
    var mapOptions = {
      center: new google.maps.LatLng(50.940800, 6.941360),
      zoom: 17,
      mapTypeControlOptions: {
       mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'tehgrayz']
        },
        scrollwheel: false,
        draggable: false
    };
    var map = new google.maps.Map(document.getElementById("maps-holder"),
        mapOptions);
    var mapType = new google.maps.StyledMapType(stylez, { name:"Grayscale" });
    map.mapTypes.set('tehgrayz', mapType);
    map.setMapTypeId('tehgrayz');

    var marker = new google.maps.Marker({
          position:new google.maps.LatLng(50.940800, 6.941360),
          map: map,
          icon: '/static/img/marker.png'
        });
  }
  google.maps.event.addDomListener(window, 'load', initialize);

$('#first-circle').css("left", parseInt($('.container').css("margin-left")));
//first circle alligned with logo
$(window).resize(function() {
    $('#first-circle').css("left", parseInt($('.container').css("margin-left")));
});

$('#trigger-video').on( "click", function() {
    $('#videoModal').modal();
});

 $('#open-gallery').on( "click", function() {
    $('#galleryModal').modal();
});

$('#videoModal').on('shown.bs.modal', function () {
   $('#doctor-video').attr("src", "//www.youtube.com/embed/wAWrXTn5Www?autoplay=1&rel=0&showinfo=0");
});
$('#videoModal').on('hide.bs.modal', function () {
   $('#doctor-video').attr("src", "");
});
</script>
</%def>


