<%inherit file="layout.html"/>


<%def name="content()">


        <div class="cover-image" data-top="background-position:0px -150px" data-bottom="background-position:0px 0px">
        </div>

        <div class="gray-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="main-heading margin-top-200">
                            Die Depression
                        </div>
                        <div class="site-text">
                            Sie sind nicht allein. In Deutschland leben über vier Millionen Menschen
                            mit einer Depression. Schlaf- und Konzentrationsstörungen, ein Mangel an Antrieb sowie Schuldgefühle kommen dabei ebenso vor wie körperliche Beschwerden. Denn unser Körper findet noch Ausdrucksmöglichkeiten,
                            wo die Sprache verstummt.
                        </div>
                        <div class="site-text margin-top-30">
                            Die Depression ist eine Krankheit, die jeden treffen kann. Die gute Nachricht ist:
                            Die Depression ist heilbar. Und dies gilt auch für schwere und chronische Verlaufsformen sowie für Verläufe,
                            die von mangelndem Therapieansprechen gekennzeichnet sind.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-100">
                        <img src="/static/img/depression.jpg" class="cover-image">
                    </div>
                </div>
            </div>
        </div>

</%def>


<%def name="post_scripts()">
<script>

var s = skrollr.init();
</script>
</%def>
