<%inherit file="layout.html"/>
<%namespace file="klinik:common/lib/formlib/templates/baseform.html" name="forms"/>

<%def name="content()">


        <div class="cover-image position-relative " data-stellar-background-ratio="0.3" data-x-position="75%">
            <img src="/static/img/circle_1.svg" class="circle-1 circle" data-stellar-ratio="2" >
            <img src = "/static/img/circle_2.svg" class="circle-2 circle" data-stellar-ratio="1.5" />
         </div>

        <div id="depression" class="gray-background position-relative">
            <img src="/static/img/circle_3.svg" class="circle-3 circle" data-stellar-ratio="2"/>
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="responsive-wrapper">
                            <div class="main-heading">
                                Die Depression
                            </div>
                            <div class="site-text">
                                Sie sind nicht allein. In Deutschland leben über vier Millionen Menschen
                                mit einer Depression. Schlaf- und Konzentrationsstörungen, ein Mangel an Antrieb sowie Schuldgefühle kommen dabei ebenso vor wie körperliche Beschwerden. Denn unser Körper findet noch Ausdrucksmöglichkeiten,
                                wo die Sprache verstummt.
                            </div>
                            <div class="site-text margin-top-30">
                                Die Depression ist eine Krankheit, die jeden treffen kann. Die gute Nachricht ist:
                                Die Depression ist heilbar. Und dies gilt auch für schwere und chronische Verlaufsformen sowie für Verläufe,
                                die von mangelndem Therapieansprechen gekennzeichnet sind.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-100">
                            <img src="/static/img/depression.jpg" class="full-size"/>

                        </div>
                    </div>
                </div>
            </div>


        <div id="clinic" class="section-clinic position-relative" data-stellar-background-ratio="0.2" data-x-position="75%">
            <img src="/static/img/circle_4.svg" data-stellar-ratio="2"  class="circle circle-4"/>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blur-holder padding-top-75">
                                <div class="row">
                                         <div class="col-md-offset-2 col-md-8">
                                             <div class="responsive-wrapper">
                                                <div class="main-heading">
                                                    Die Klinik
                                                </div>
                                             <div class="site-text">
                                                    Die Tagesklinik am Friesenplatz ist als private Fachklinik auf die Diagnostik und Behandlung der Depression spezialisiert. Weitere Schwerpunkte bilden Angst- und Zwangserkrankungen. Die Klinik funktioniert teilstationär,
                                                    das heißt, Sie halten sich tagsüber in der Klinik auf und schlafen zuhause.
                                                    Somit bekommen wir von Ihnen täglich ein Feedback, wie sich das Leben zuhause verändert.
                                             </div>
                                             <div class="site-text margin-top-40">
                                                    Die Tagesklinik am Friesenplatz arbeitet nach dem zukunftsweisenden Konzept der personalisierten Therapie. Hierbei wird nach einer Phase intensiver Diagnostik die passende Therapie auf Sie als Patientin oder Patienten zugeschnitten Als Fachklinik können wir hierzu aus dem gesamten Spektrum körperlicher Therapieverfahren (inklusive transkranieller Magnetstimulation) auswählen.
                                             </div>

                                             <div class="site-text margin-top-40">
                                                   Diese Verfahren gehen bei uns Hand in
                                                    Hand mit Psychotherapieverfahren, welche sich bei der Depression als wirksam herausgestellt haben. Die sogenannten Komplementärtherapien runden das Therapiespektrum ab – hierzu zählen Kunst- und Körpertherapie, Ergo-, Musik- und Physiotherapie. Wir stellen Ihnen unser Therapieangebot auf den nächsten Seiten im Einzelnen vor.
                                             </div>
                                             <div class="margin-top-40" id = "open-gallery">
                                                    <img src="/static/img/gallery.svg" class = "icon"/>
                                                    <div class="icon-text">Galerie ansehen</div>
                                                    <div class ="margin-bottom-90" style="clear:both"></div>
                                             </div>
                                          </div>
                                             </div>
                                     </div>
                             </div>
                          </div>
                      </div>
                </div>
        </div>

        <div id="my-team" class="gray-background ">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-9">
                        <div class="responsive-wrapper">
                            <div class="main-heading">
                                Wir kümmern uns um Sie
                            </div>
                         </div>
                     </div>
                 </div>
                <div id="main-man">
                    <div class="row">
                         <div class="col-md-offset-3 col-md-7">
                             <div class="responsive-wrapper">
                                  <div class="name-text">
                                      Dr. med. Christian Voß
                                  </div>
                                  <div class="function-text">
                                        Facharzt für Psychiatrie und Psychotherapie
                                        <div class="function-text-regular">Leitender Arzt und Geschäftsführer</div>
                                  </div>
                                 <div class="doctor-description ">
                                     Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                                 </div>
                                  <div class="margin-top-40">
                                      <div id="trigger-video">
                                        <img src="/static/img/play_video.svg" class = "icon"/>
                                        <div class="icon-text ">Video ansehen</div>
                                       </div>
                                        <div style="clear:both"></div>
                                   </div>
                                 </div>
                        </div>
                    </div>
                 </div>
        <div class="padding-top-75"></div>
        </div>
         </div>
        <div id="therapy" class="therapy-section" data-stellar-background-ratio="0.2" data-x-position="75%">
            <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                             <div class="blur-holder padding-top-75">
                                 <div class="responsive-wrapper">
                                    <div class="row">
                                             <div class="col-md-offset-2 col-md-8 margin-bottom-100">
                                                    <div class="main-heading">
                                                        Die Therapien
                                                    </div>
                                                 <div class="site-text">
                                                       Aus den folgenden Therapien stellen wir mit Ihnen gemeinsam die für Sie geeignete Behandlungza gegen die Depression zusammen:
                                                 </div>
                                              </div>
                                         </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                </div>
        </div>

     <div class="gray-background text-section position-relative">
     <img src="/static/img/circle_1.svg" data-stellar-ratio="2" class="circle circle-5"/>

         <div class="padding-top-75"></div>
        <div class="container">
            <div class="row">
                 <div class="col-md-5 padding-bottom-160">
                     <div class="responsive-wrapper">
                        <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->
                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->

                          <!-- -------------------------------------------------------------- -->
                        <div class="blue-line"></div>
                         <div class="text-title">
                             Tiefenpsychologisch fundierte Einzelpsychotherapie
                         </div>
                         <div class="text-information">
                             Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                         </div>
                         <!-- -------------------------------------------------------------- -->
                      </div>
                </div>
                <div class="col-md-offset-2 col-md-5 padding-bottom-160">
                                     <!-- -------------------------------------------------------------- -->
                  <div class="responsive-wrapper">
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->
                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                      <!-- -------------------------------------------------------------- -->
                    <div class="blue-line"></div>
                     <div class="text-title">
                         Tiefenpsychologisch fundierte Einzelpsychotherapie
                     </div>
                     <div class="text-information">
                         Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum. Temporemperum quo ma con nat perorupta sunderchil exernatus estes que volorio conserio ea doluptatem vollibusti qui dolum.
                     </div>
                     <!-- -------------------------------------------------------------- -->

                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="small-line-divider"></div>
     <div id="where-we-are" class="where-we-at position-relative" data-stellar-background-ratio="0.2" data-x-position="75%">
          <img src="/static/img/map_pic.jpg" data-stellar-ratio="2" class="circle-map"/>
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class=blur-holder>
                         <div class="row">
                             <div class="col-md-offset-2 col-md-8 padding-top-75">
                                 <div class="responsive-wrapper">
                                    <div class="main-heading">
                                       Ihr Weg zu uns
                                    </div>
                                 <div class="site-text">
                                       Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                                 </div>
                                 <div class="margin-top-40">
                                        <a href ="https://maps.google.de/maps?saddr=current+location&daddr=Friesenstra%C3%9Fe%2072%E2%80%9374,%20Koeln,%20Germany" target="_blank"><img src="/static/img/directions.svg" class = "icon"/>
                                        <div class="icon-text">Route berechnen</div> </a>
                                        <div class="margin-top-40"></div>
                                 </div>
                             </div>
                              </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-12">
                    <div id = "maps-holder">
                    </div>
                 </div>
             </div>
         </div>
     </div>

      <div class="gray-background">

          <div class="container">
              <div class="row">
               <div class="col-md-8 col-md-offset-2">
                   <div class=" main-heading">
                       Kontakt
                   </div>
                    <div class="contact-holder margin-top-40">
                      <form class="${view.form.classes}" method="post" id="${view.form.id}">
                            ${forms.prelims(view.form)}
                          <div class="form-field">
                           <input type="text" id = "contactForm.name" name ="contactForm.name" required placeholder="Name"/>
                           </div>
                          <div class="form-field">
                           <input type="email" id = "contactForm.email" name ="contactForm.email" required placeholder="E-Mail Addresse"/>
                          </div>
                           <div class="form-field">
                            <textarea type="text" id = "contactForm.message" name ="contactForm.message" required placeholder="Nachricht"></textarea>
                           </div>
                        <div class="form-actions">
                            <button type="submit" class="btn">Absenden</button>
                        </div>
                    </form>
                    </div>
               </div>
              </div>
           </div>
      </div>

 <div class="modal fade" id="videoModal" role="dialog" aria-labelledby="About us" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <object width="100%" height="100%">
         <param name="movie" value="//www.youtube.com/v/wAWrXTn5Www?hl=sl_SI&amp;version=3"></param>
         <param name="allowFullScreen" value="true"></param>
         <param name="allowscriptaccess" value="always"></param>
         <param name="autoplay" value="true"></param>
         <embed id = "doctor-video" src="//www.youtube.com/v/wAWrXTn5Www?hl=sl_SI&amp;version=3&autoplay=1&rel=0&border=0" type="application/x-shockwave-flash" width="100%" height="315" allowscriptaccess="always" allowfullscreen="true"></embed>
     </object>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="galleryModal" role="dialog" aria-labelledby="About us" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            <div id="carousel-gallery" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                    <div class="item active">
                      <img src="http://placekitten.com/g/500/490">
                    </div>
                   <div class="item ">
                      <img src="http://placekitten.com/g/500/480">
                    </div>
                   <div class="item ">
                      <img src="http://placekitten.com/g/500/300">
                    </div>
                  </div>
                <a class="left carousel-control" href="#carousel-gallery" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-gallery" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
             </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

</%def>




<%def name="post_scripts()">
<script>

if(window.innerWidth > 992) $(window).stellar();

var $root = $('html, body');
$('a').click(function() {
    if($('#galleryModal').is(":visible")) return true;
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1000);
    return false;
});

$('#main-menu').affix({
      offset: {
        top: $('#main-menu').height()/2
      }
});

function initialize() {

var stylez = [
    {
      featureType: "all",
      elementType: "all",
      stylers: [
        { saturation: -100 } // <-- THIS
      ]
    }
];
    var mapOptions = {
      center: new google.maps.LatLng(50.940800, 6.941360),
      zoom: 17,
      mapTypeControlOptions: {
       mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'tehgrayz']
        },
        scrollwheel: false,
        draggable: false
    };
    var map = new google.maps.Map(document.getElementById("maps-holder"),
        mapOptions);
    var mapType = new google.maps.StyledMapType(stylez, { name:"Grayscale" });
    map.mapTypes.set('tehgrayz', mapType);
    map.setMapTypeId('tehgrayz');

    var marker = new google.maps.Marker({
          position:new google.maps.LatLng(50.940800, 6.941360),
          map: map,
          icon: '/static/img/marker.png'
        });
  }
  google.maps.event.addDomListener(window, 'load', initialize);

$('#first-circle').css("left", parseInt($('.container').css("margin-left")));
//first circle alligned with logo
$(window).resize(function() {
    $('#first-circle').css("left", parseInt($('.container').css("margin-left")));
});

$('#trigger-video').on( "click", function() {
    $('#videoModal').modal();
});

 $('#open-gallery').on( "click", function() {
    $('#galleryModal').modal();
});

</script>
</%def>


