<%inherit file="../base.html"/>

<%def name="seo_tags()">
  <!-- OPEN GRAPH -->

</%def>
<%def name="layout_scripts()">
    <script src="${STATIC_URL}scripts/libs.js?${VERSION_TOKEN}"></script>
</%def>

<%def name="footer_classes()">mar-top-2</%def>

<div id="global-frame" class="${self.page_class()}">
    <%block name="header">
    <div id="main-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">
                      <a class="navbar-brand" href="#">
                          <img src="/static/img/logo.svg" alt="${g.project_name}" class="brand-image"/>
                          <div class="brand-text">
                                <div class="brand-text-title">
                                    Tagesklinik am Friesenplatz
                                </div>
                                <div class="brand-text-subtitle">
                                    Teilstationäre Klinik für Psychiatrie und Psychotherapie <br> mit Ambulanz und Sachverständigungbüro
                                </div>
                          </div>
                      </a>
                      <ul class="nav nav-pills pull-right">
                          <li><a href="#" class="menu-item">Die Depression</a></li>
                          <li><a href="#" class="menu-item">Die Klinik</a></li>
                          <li><a href="#" class="menu-item">Die Therapien</a></li>
                          <li><a href="#" class="menu-item">Ihr Weg zu uns</a></li>
                          <li><a href="#" class="menu-item">Impressum</a></li>
                        </ul>
                    </nav>
                </div>
           </div>
     </div>
    </div>
    </%block>
    ${self.header_messages(request.session.pop_flash("generic_messages"))}
    <%block name="contentwrapper">
      <div class="page-wrapper">
        ${self.content()}
      </div>
    </%block>
    <%block name="footer">
        <footer class="footer-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-item">
                           <div class="footer-title">Tagesklinik am Friesenplatz GmbH </div>
                           <div class="footer-text">Friesenstraße 72–74</div>
                        </div>
                         <div class="footer-item">
                         <div class="footer-title">Telefon </div>
                          <div class="footer-text">0176 63736189</div>
                        </div>
                         <div class="footer-item">
                           <div class="footer-title">Fax </div>
                           <div class="footer-text">0176 63736189</div>
                        </div>
                         <div class="footer-item">
                          <div class="footer-title"> Email </div>
                           <div class="footer-text">post@christian-voss.eu</div>
                        </div>
                    </div>
                </div>
             <div style="clear:both"></div>
              <div class="row">
                  <div class="col-md-11">
                    <div class="blue-line margin-top-90"></div>
                   </div>
               </div>
                <div class="row">
                    <div class="col-md-12 margin-top-20">
                        <div class="footer-item">
                            <div class="footer-text">Die Depression</div>
                        </div>
                        <div class="footer-item">
                            <div class="footer-text">Die Klinik</div>
                        </div>
                        <div class="footer-item">
                            <div class="footer-text">Die Therapien</div>
                        </div>
                         <div class="footer-item">
                            <div class="footer-text">Ihr Weg zu uns</div>
                        </div>
                     </div>
                </div>
            </div>
        </footer>
    </%block>
</div>