<%inherit file="../base.html"/>

<%def name="seo_tags()">
  <!-- OPEN GRAPH -->

</%def>
<%def name="layout_scripts()">
    <script src="${STATIC_URL}scripts/libs.js?${VERSION_TOKEN}"></script>
</%def>

<%def name="footer_classes()">mar-top-2</%def>

<div id="global-frame" class="${self.page_class()}">
    <%block name="header">
    <div class="fill-space"></div>
    <div id="main-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">
                      <a class="navbar-brand" href="${request.fwd_url('website_home')}">
                          <img src="/static/img/logo.svg" alt="${g.project_name}" class="brand-image"/>
                          <div class="brand-text">
                                <div class="brand-text-title">
                                    Tagesklinik am Friesenplatz
                                </div>
                                <div class="brand-text-subtitle">
                                    Teilstationäre Klinik für Psychiatrie und Psychotherapie <div class="brand-subtext">mit Ambulanz und Sachverständigenbüro</div>
                                </div>
                          </div>
                      </a>
                      <ul class="nav nav-pills pull-right">
                          <li><a href="${ '#depression' if request.matched_route.name == 'website_home' else request.fwd_url('website_home') + '#depression' }" class="menu-item">Die Depression</a></li>
                          <li><a href="${ '#clinic' if request.matched_route.name == 'website_home' else request.fwd_url('website_home') + '#clinic'}" class="menu-item">Die Klinik</a></li>
                          <li><a href="${ '#therapy' if request.matched_route.name == 'website_home' else request.fwd_url('website_home') + '#therapy'}" class="menu-item">Die Therapien</a></li>
                          <li><a href="${ '#where-we-are' if request.matched_route.name == 'website_home' else request.fwd_url('website_home') + '#where-we-are'}" class="menu-item">Ihr Weg zu uns</a></li>
                          <li><a href="${request.fwd_url('website_impressum')}" class="menu-item">Impressum</a></li>
                        </ul>
                    </nav>
                </div>
           </div>
     </div>
    </div>
    </%block>
    ${self.header_messages(request.session.pop_flash("generic_messages"))}
    <%block name="contentwrapper">
      <div class="page-wrapper">
        ${self.content()}
      </div>
    </%block>
    <%block name="footer">
        <footer class="footer-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blue-line"></div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12  margin-top-20">
                        <div class="footer-item">
                           <div class="footer-title">Tagesklinik am Friesenplatz GmbH </div>
                           <div class="footer-text small-padding">Friesenstraße 72–74, 50670 Köln</div>
                        </div>
                         <div class="footer-item">
                         <div class="footer-title">Telefon </div>
                          <div class="footer-text small-padding">0176 63736189</div>
                        </div>
                         <div class="footer-item">
                           <div class="footer-title">Fax </div>
                           <div class="footer-text small-padding">0176 63736189</div>
                        </div>
                         <div class="footer-item">
                          <div class="footer-title"> Email </div>
                           <div class="footer-text small-padding"><a href="mailto:info@tagesklinik-friesenplatz.de">info@tagesklinik-friesenplatz.de</a></div>
                        </div>
                    </div>
                </div>
             <div style="clear:both"></div>
              <div class="row">
                  <div class="col-md-12">
                    <div class="blue-line margin-top-40"></div>
                   </div>
               </div>
                <div class="row">
                    <div class="col-md-12 margin-top-20">
                        <div class="footer-item">
                           <a href="${ '#depression' if request.matched_route.name == 'website_home' else request.fwd_url('website_home') + '#depression' }"> <div class="footer-text">Die Depression</div></a>
                        </div>
                        <div class="footer-item">
                          <a href="${ '#clinic' if request.matched_route.name == 'website_home' else request.fwd_url('website_home') + '#clinic'}">  <div class="footer-text">Die Klinik</div> </a>
                        </div>
                        <div class="footer-item">
                            <a href="${ '#therapy' if request.matched_route.name == 'website_home' else request.fwd_url('website_home') + '#therapy'}">  <div class="footer-text">Die Therapien</div> </a>
                        </div>
                         <div class="footer-item">
                          <a href="${ '#where-we-are' if request.matched_route.name == 'website_home' else request.fwd_url('website_home') + '#where-we-are'}">  <div class="footer-text">Ihr Weg zu uns</div> </a>
                        </div>
                     </div>
                </div>
            </div>
        </footer>
    </%block>
</div>