<%inherit file="../base.html"/>

<%def name="seo_tags()">
  <!-- OPEN GRAPH -->

</%def>
<%def name="layout_scripts()">
    <script src="${STATIC_URL}scripts/libs.js?${VERSION_TOKEN}"></script>
</%def>

<%def name="footer_classes()">mar-top-2</%def>

<div id="global-frame" class="${self.page_class()}">
    <%block name="header">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-inner">
			            <a class="navbar-brand" href="#"><img src="static/img/logo_wetwarez.png?${VERSION_TOKEN}"/> </a>
                        <ul class="nav navbar-right">
                             <li> <a href="#">Who are we?</a></li>
                             <li><a href="#">|</a></li>
                             <li><a href="#">How it works?</a></li>
                             <li><a href="#">|</a></li>
                             <li><a href="#">Contact us</a></li>
                        </ul>
			     </div>
            </nav>
    </div>
    </%block>
    ${self.header_messages(request.session.pop_flash("generic_messages"))}
    <%block name="contentwrapper">
      <div class="page-wrapper">
        ${self.content()}
      </div>
    </%block>
    <%block name="footer">

    </%block>
</div>