<%inherit file="../layout.html"/>

<%def name="bcrumbs()"></%def>

<%def name="content()">
    <div class="padded-body">
        <div class="row">
            <div class="col-lg-12">
                <a href="${url("admin_text_create")}" class="btn btn-primary pull-right">Setup new paragraph</a>
                <h3>All Pictures</h3>
                <div class="list-group">
                    <div class="row list-group-item list-group-header">
                        <div class="col-lg-2">picture</div>
                    </div>
                    <div class="row list-group-item">
                       %for i in range(0,len(texts)):
                        <div style="height:75px;">
                        <div style="margin-right: 20px; display:inline-block;font-size: 20px; color:blue; ">${texts[i].title}</div>
                        <a href="${request.ajax_url("admin_text_delete")}?id=${texts[i].id}" onclick="confirm('really?')" class="btn btn-danger edit-link">delete</a>
                        <a href="${request.ajax_url("admin_text_edit")}?id=${texts[i].id}" class="btn btn-primary edit-link">edit</a>
                        </div>
                        %endfor

                    </div>
                </div>
            </div>
        </div>
    </div>
</%def>